fastapi
python-dotenv
jinja2
uvicorn
google-generativeai>=0.3.0
pdfplumber
python-pptx
polars
openpyxl
pytesseract
Pillow
img2table
langchain-huggingface
sentence-transformers
aiofiles
python-multipart
llama-index
llama-index-llms-gemini
pydantic
python-docx
ebooklib
pyhwp
nbconvert
PyPDF2
git+https://github.com/openai/whisper